{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,initial-scale=1.0,maximam-scale=1.0,minimum-scale=1.0">
    <!-- <meta http-equiv="refresh" content="180"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>勤怠管理</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/master.css" %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">勤怠管理システム0415/templates</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber"
                aria-expand="false"
                aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">管理サイト</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-page' user.pk %}">ユーザーページ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:logout' %}">ログアウト</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kanri-page' %}">働き時間確認</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="shiori">
    <nav id="fixed-navi">
	     <ul>
		      <li><a href="#start">概要</a></li>
		      <li><a href="#how_to_use">機能</a></li>
		      <li><a href="#future">その他の情報</a></li>
		      <li><a href="#books">参考文献</a></li>
	     </ul>
     </nav>
     </div>
      <div>
        <div class="h1">
          <p><a id="start">プロダクトの概要<a></p>
        </div>
        <div class="contents">
          <p>ここではプロダクトの概要を説明します。</p>
          <p>このプロダクトは5月末に開催された<a href="https://remotehackathon.peatix.com/" target="_blank">オンラインハッカソン</a>
            への出品作品です。<b>「リモートワークの時代に必要になるツール」</b>という課題のもと開発しました。</p>
          <p>実際にリモートワークを経験している社会人の方にヒアリングを行ったところ、</p>
          <ul>
            <li>コミュニケーションが希薄になる。</li>
            <li>働きすぎてしまう。</li>
            <li>雑談のタイミングが分からない。</li>
          </ul>
          <p>といった課題があることが分かりました。</p>
          <p>そこで私たちは、２つの機能を持たせたIoTをRaspberryPiを用いて開発しました。</p>
          <div class="kinou-list">
            <ol>
              <li>勤怠管理システム</li>
              <li>slackステータスの自動変更</li>
            </ol>
          </div>
          <p><b>(勤怠管理システム)</b>
          <br>圧力センサの値をRaspberryPiで自動送信しDBで管理し、管理者及びユーザーが勤務時間を確認できる。</p>
          <p><b>(slackステータスの自動変更)</b>
          <br>SlackAPIを用いて、圧力センサの値に応じたステータスに自動で変更します。</p>
        </div>
      </div>

      <div class="can_do">
        <div class="h1">
          <p><a id="how_to_use">機能</a></p>
        </div>
        <div class="h2">
          <p><b>slackステータスの自動変更</b></p>
        </div>
        <div class="contents">
          <img src="{% static "img/slack_auto_change.png"%}" width="80%" height="40%">
          <p>圧力センサにより、ユーザが着席中か離席中かを判断し、slackのステータスを自動で変更します。
          これにより、ユーザ同士の勤務状況の見える化ができます。
          <br>コミュニケーションをとるタイミングに迷うことが無くなり、無駄を省くことができます。</p>
        </div>
        <div class="h2">
          <p><b>勤務時間の自動計測</b></p>
        </div>
        <div class="contents">
          <img src="{% static "img/work_or_sabori_change.png"%}" width="80%" height="40%">
          <p>画像の挿入（１週間の勤務時間）</p>
          <p>期間やユーザIDでフィルタリングしたログから、１日ごとの勤務時間を計算し配列に格納し、棒グラフで表示しています。</p>
        </div>
        <div class="h2">
          <p><b>キャラクター育成</b></p>
        </div>
        <div class="contents">
          <img src="{% static "img/characters_matome.png"%}" width="80%" height="40%">
          <p>現在時刻と一日の勤務状況の２つをパラメータにキャラクタ画像が変わります。
          <br>ユーザの勤務状況が芳しくない時、キャラクタはDQN化したり、トラックにひかれたり。。。
          <br>死なさないように、気を付けてください。</p>
        </div>
        <div class="h2">
          <p><b>superuserのみが入れる管理サイト</b></p>
        </div>
        <div class="contents">
          <img src="{% static "img/kanripage-gurahu.png"%}" width="80%" height="40%">
          <p>管理サイトはあらかじめ設定したsuperuserのみが利用できます。この管理サイトではユーザーIDを入力することで、そのユーザーの勤務状況(1日の勤務状況、１週間の勤務時間)を見ることができます。
          <br>この機能により、ユーザの働きすぎを防ぐことができます。また、あらかじめ設定したsuperuserしかアクセスできないので、安全です。</p>
        　<!-- <p>成果主義に移り変わる中で、このようなプロダクトは時代錯誤的に感じるかもしれません。僕もです。
      　　<br>ただ、似たような製品は存在しており一定のニーズはあるようですし、実際に採用している企業もあります。</p> -->
        </div>
      </div>

      <div class="h1">
        <p><a id="future">その他情報</a></p>
      </div>
      <div class="h2">
        <p><b>アーキテクチャ</b></p>
      </div>
      <div class="contents">
        <img src="{% static "img/achitecture.png"%}" width="80%" height="40%">
        <p>RaspberryPiから、圧力センサ値・ユーザID等を含んだデータをJSON形式でheroku(webサーバ)に送信します。
        その時の勤務状況(圧力センサ値)から、slackステータスを自動で変更します。これらのバックグラウンドはすべてPythonで記述し、
        フレームワークはDjangoを使用しました。
        <br>また、フロントサイドはHTML、CSS、JavaScriptで記述しました。ユーザー側のJavaScriptで
        ログの読み取り、ユーザID・期間によるフィルタリングを行い表示しています。</p>
      </div>
      <div class="h2">
        <p><b>slack token及びユーザーID取得方法</b></p>
      </div>
      <div class="contents">
        <p>APIトークンの生成方法は<a href="https://slack.com/intl/ja-jp/help/articles/215770388-API-%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3%E3%81%AE%E7%94%9F%E6%88%90%E3%81%A8%E5%86%8D%E7%94%9F%E6%88%90" target="_blank">こちら</a>から確認できます。</p>
        <p>メンバーIDの確認方法は<a href="http://help.receptionist.jp/?p=1100#memberid" target="_blank">こちら</a>から確認できます。</p>
        <p>※※gitのurl貼る。token取得後のテスト用プログラム</p>
      </div>
      <div class="h2">
        <p><b>RaspberryPiの配線</b></p>
      </div>
      <div class="contents">
        <p>使用した部品は以下の通りです。</p>
        <ul>
          <li>圧力センサ(<a href="http://akizukidenshi.com/catalog/g/gP-04158/" target="_blank">FSR406</a>)×１</li>
          <li>A/Dコンバータ(<a href="http://akizukidenshi.com/catalog/g/gI-02584/" target="_blank">MCP3002</a>)×１</li>
        </ul>
        <p>Arduinoなどとは違いRaspberryPi単体では、２進数の入力にしか対応していません。
        そのため例えば部屋の明るさだと、明かりが「ついている」or「消えている」の２段階でしか理解しません。
        <br>これを0~1023のように幅を持ったデジタル値でとるためにA/Dコンバーターが必要になります。今回はポート数の少なく安価な
          <a href="http://akizukidenshi.com/catalog/g/gI-02584/" target="_blank">MCP3002</a>を採用しました。</p>
        <p>　回路　※MCP3002のへこみは右側</p>
        <img src="{% static "img/kairozu.png"%}" width="80%" height="40%">
        <p>圧力センサは圧力が加わると抵抗が下がる性質を持っていることから、
          圧力センサを基準となる抵抗と並列に接続することで、圧力の変化に対する電圧の変化を読み取っています。</p>
      </div>
      <div class="h2">
        <p><b>RaspberryPiのプログラム</b></p>
      </div>
      <div class="contents">
        <p>※※gitのurl貼る。（ラズパイ）</p>
        <p>※※gitのurl貼る。（ダミーデータの送信用）</p>
        <p>プログラムの説明</p>
      </div>



      <div class="h1">
        <p><a id="books">参考文献</a></p>
      </div>
      <div class="contents">
        <p>ここでは参考文献を紹介します。</p>
      </div>

      <footer>
        <div class="footer-logo">
          <p>Slacking</p>
        </div>
        <div class="footer-list">
          <ul>
            <li><a href="#start">トップへ戻る</a></li>
            <li>連絡はこちら</li>
            <li>gitへはこちらから</li>
          </ul>
        </div>
      </footer>

  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
	var nav = $('#fixed-navi');
	var navTop = nav.offset().top;
	$(window).scroll(function () {
		var winTop = $(this).scrollTop();
		if (winTop >= navTop) {
			nav.addClass('fixed').css('top',0);
		} else if (winTop < navTop) {
			nav.removeClass('fixed').css('top',-navTop+'px');
		}
	});
});
</script>
</html>
