{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,initial-scale=1.0,maximam-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="refresh" content="180">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>勤怠管理</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static "css/master.css" %}"> -->
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">勤怠管理システム0415/templates</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber"
                aria-expand="false"
                aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">管理サイト</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-page' user.pk %}">ユーザーページ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:logout' %}">ログアウト</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kanri-page' %}">働き時間確認</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="shiori">
    <nav id="fixed-navi">
	     <ul>
		      <li><a href="#start">概要</a></li>
		      <li><a href="#how_to_use">使い方</a></li>
		      <li><a href="#future">今後の展望</a></li>
		      <li><a href="#books">参考文献</a></li>
	     </ul>
     </nav>
     </div>
      <div>
        <div class="h1">
          <p><a id="start">プロダクトの概要<a></p>
        </div>
        <div class="contents">
          <p>ここではプロダクトの概要を説明します。</p>
          <p>このプロダクトは5月末に開催された<a href="https://remotehackathon.peatix.com/">オンラインハッカソン</a>
            への出品作品です。<b>「リモートワークの時代に必要になるツール」</b>という課題のもと開発しました。</p>
          <p>実際にリモートワークを経験している社会人の方にヒアリングを行ったところ、</p>
          <ul>
            <li>コミュニケーションが希薄になる。</li>
            <li>働きすぎてしまう。</li>
            <li>雑談のタイミングが分からない。</li>
          </ul>
          <p>といった課題があることが分かりました。</p>
          <p>そこで私たちは、２つの機能を持たせたIoTをraspberrypiを用いて開発しました。</p>
          <div class="kinou-list">
            <ol>
              <li>勤怠管理システム</li>
              <li>slackステータスの自動変更</li>
            </ol>
          </div>
          <p><b>(勤怠管理システム)</b>
          <br>圧力センサの値をraspberrypiで自動送信しDBで管理し、管理者及びユーザーが勤務時間を確認できる。</p>
          <p><b>(slackステータスの自動変更)</b>
          <br>SlackAPIを用いて、圧力センサの値に応じたステータスに自動で変更します。</p>
        </div>
      </div>

      <div class="can_do">
        <div class="h1">
          <p><a id="how_to_use">機能</a></p>
        </div>
        <div class="h2">
          <p><b>slackステータスの自動変更</b></p>
        </div>
        <div class="contents">
          <img src="{% static "img/slack_auto_change.png"%}" width="80%" height="40%">
          <p>slack</p>
        </div>
        <div class="h2">
          <p><b>勤務時間の自動計測</b></p>
        </div>
        <div class="contents">
          <p>画像の挿入</p>
          <p>配線の説明</p>
        </div>
        <div class="h2">
          <p><b>キャラクター育成</b></p>
        </div>
        <div class="contents">
          <p>キャラクターの画像</p>
          <p>キャラクターの説明</p>
        </div>
        <div class="h2">
          <p><b>管理サイトの設置</b></p>
        </div>
        <div class="contents">
          <p>管理サイトでできることを画像を交えて書く。</p>
        </div>
      </div>

      <div class="h1">
        <p><a id="future">その他情報</a></p>
      </div>
      <div class="contents">
        <p>ここではプロダクトの使い方を説明します。</p>
      </div>
      <div class="h2">
        <p><b>アーキテクチャ</b></p>
      </div>
      <div class="contents">
        <img src="{% static "img/achitecture.png"%}" width="80%" height="40%">
        <p>構造の説明</p>
      </div>
      <div class="h2">
        <p><b>slack token及びユーザーID取得方法</b></p>
      </div>
      <div class="contents">
        <p>画像の挿入</p>
        <p>token取得の説明</p>
      </div>
      <div class="h2">
        <p><b>raspberrypiの配線</b></p>
      </div>
      <div class="contents">
        <p>画像の挿入</p>
        <p>配線の説明</p>
      </div>
      <div class="h2">
        <p><b>raspberrypiのプログラム</b></p>
      </div>
      <div class="contents">
        <p>コードボックスの挿入（ラズパイ）</p>
        <p>コードボックスの挿入（ダミーデータの送信用）</p>
        <p>プログラムの説明</p>
      </div>



      <div class="h1">
        <p><a id="books">参考文献</a></p>
      </div>
      <div class="contents">
        <p>ここでは参考文献を紹介します。</p>
      </div>

      <footer>
        <div class="footer-logo">
          <p>Slacking</p>
        </div>
        <div class="footer-list">
          <ul>
            <li><a href="#start">トップへ戻る</a></li>
            <li>連絡はこちら</li>
            <li>gitへはこちらから</li>
          </ul>
        </div>
      </footer>

  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
	var nav = $('#fixed-navi');
	var navTop = nav.offset().top;
	$(window).scroll(function () {
		var winTop = $(this).scrollTop();
		if (winTop >= navTop) {
			nav.addClass('fixed').css('top',0);
		} else if (winTop < navTop) {
			nav.removeClass('fixed').css('top',-navTop+'px');
		}
	});
});
</script>
</html>
